html {
  margin:0;
  padding:0;
  border:0;
}
/* Line-height should always be unitless! */
body {
  line-height: 1.5;
  background: white;
  margin: 0;
  overflow: hidden;
}

div {
  padding: 0;
  margin: 0;
}

/*fb page*/
#lpage {
  width: 520px;
  height: 100%;
  position: absolute;
  background-color:#ffffff;
  background:#ffffff url('../images/lpage.png') no-repeat left top;
}

